.main-banner {
  background-size: cover !important;
  background-position: center !important;
  padding: 14% 0;
  position: relative;
  text-align: center;
  color: #ffffff;
  margin: 0;
  display: none;
}
.main-banner .caption {
  position: relative;
}
.main-banner h2 {
  color: #ffffff;
  font-weight: 400;
  display: block;
  margin-bottom: 25px;
}
.main-banner:before {
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(12, 20, 25, 0.3);
}
fieldset {
  margin-top: 52px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px 20px 10px 20px;
}
fieldset .no-pad {
  margin: 0;
  padding: 0;
}
.main-banner fieldset select.selectpicker,
.main-banner fieldset .form-control,
.main-banner fieldset .seub-btn {
  width: 100%;
  color: #6b797c;
  padding: 19px 15px;
  border: none;
  border-radius: 0;
  height: auto;
  line-height: 1.5;
  font-size: 16px;
  height: 60px;
}
.main-banner fieldset select.selectpicker:focus,
.main-banner fieldset .form-control:focus,
.main-banner fieldset .seub-btn:focus {
  outline: none;
}
.main-banner fieldset .border-right {
  border-right: 1px solid rgba(107, 121, 124, 0.3) !important;
}
.main-banner .btn.seub-btn {
  background: #da0833;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  text-shadow: none;
  line-height: 1.2;
}
